body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin: 0px;
}

.div {
    background-color: #111;
    color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2;
}

a {
    display: inline-block;
    color: #332200;
    background-color: #febe01;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

